# Django Security Settings
SECRET_KEY=your-production-django-secret-key
DEBUG=False

# Host Routing Configuration (Comma separated list of domains)
ALLOWED_HOSTS=yourdomain.com,appname.render.com,appname.railway.app

# Database Configuration (Leave empty to default to SQLite3)
# DATABASE_URL=postgres://db_user:db_password@db_host:5432/db_name
